* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 6rem;
  color: #393939;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
  text-align: center;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 6rem;
}

h2 {
  font-size: 3rem;
  color: #393939;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.6em;
  text-align: center;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 2rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: 2rem;
  text-align: center;
  color: #393939;
  padding-right: 1rem;
}

section {
  background-color: #E8E8E8;
  color: #000;
}

a {
  font-size: 1.4rem;
  color: #393939;
  align-items:center;
  justify-content:right;
  text-decoration: none;
  float: right;
  padding:1.2rem;
  margin-right: 2rem;
}

a:hover {
  color: #565656;
}

body {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  flex: 1;
}

.logo {
  font-size: 2rem;
  color: #393939;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin-left: 2rem;
  float:left;
  align-items:center;
  justify-content:right;
  text-decoration: none;
}

.header-nav {
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
  padding: 1.5rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: #d4d9d5;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.container {
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  margin: 1rem;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

.hero {
  background-color: #f8f8f8;
  padding: 10rem 2rem;
}

.footer-nav {
  width: 100%;
  background-color: #d4d9d5;
  padding: 5rem 1rem;
  margin-top: 5rem;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
}

.footer-nav ul {
  list-style: none;
  text-decoration:none;
  float: none;
  justify-content:center;
  text-align:center;
  width: 100%;
}

.footer-nav ul li {
  display:inline-block;
  font-size: 1.8rem;
}

.footer-nav a {
  padding: 0.5rem;
  padding-top: 2rem;
  margin: 0;
  float: none;
  }

.footer-nav .allrights {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 300;
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.responsive-menu {
	display: none;
}

.responsive-menu.expand {
	display: block !important;
  width: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.mobile-nav {
  float: right;
  list-style-type: none;
  text-align: center;
}


.project-img {
  display:block;
  width: 100%;
  height: auto;
  border:none;
  transform:scale(1);
  transition:all 1s;
}

.project-cell {
  display:block;
  position: relative;
  overflow:hidden;
  padding:0;
  margin-right: 0;
}

.project-overlay:hover {
   opacity: 1;
   color: white;
   font-size: 20px;
   text-align: center;
}

.project-overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: rgba(41, 41, 41, 0.8);
}

.project-text {
  color: #C7A05A;
  font-size: 22px;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 1.8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-tranform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 360px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .hero {
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .mobile-nav {
  display: none!important;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .hero {
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .mobile-nav {
  display: none!important;
  }
}

@media screen and (max-width: 767px) {
  .header-nav-links {
  display: none!important;
  }

  a {
    padding:0;
    margin-right: 0;
    line-height: 4rem;
  }

  a.logo {
    line-height: 3rem;
  }
}
