* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 5.2rem;
  color: #393939;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 3rem;
}

h2 {
  font-size: 2.2rem;
  color: #565656;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.8em;
  text-align: center;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 2rem;
}

h3 {
  font-size: 2.5rem;
  color: #CA8331;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5em;
  width: 100%;
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  margin-top: 4rem;
}

p {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;
  text-align: left;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  color: #716c6c;
}

p.quote {
  font-size: 1.8rem;
  text-align: center;
  }

p.results {
  font-size: 1.8rem;
  color: #4b4b4b;
}

h4 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: 2rem;
  text-align: center;
  color: #393939;
  padding-right: 1rem;
}

h5 {
  font-size: 2rem;
  color: #8c8c8c;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.8em;
  text-align: center;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 2rem;
}

.website-impressions {
  margin-top: 4rem;
}

.title {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
  text-align: center;
  font-size: 2.2rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #393939;
  width: 50%;
}

.list {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  font-size: 1.6rem;
  text-align: center;
  list-style-type: none;
  line-height: 3rem;
  color: #393939;
}

.paragraph-list {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;
  text-align: left;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  color: #716c6c;
  padding-left: 4rem;
  list-style-type: square;
}

.ebites-mockup, .sk2-mockup, .blocbox-mockup, .self-serve{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 3rem;
}

.sk2-mockup, .blocbox-mockup {
  width: 80%;
}

.self-serve {
  width: 10%;
  padding-bottom: 0;
}


.blocbox-mockup {
  padding-bottom: 0;
}

.mockup-image {
  background-color: #EEE9E5;
}

.center-title {
  text-align: center;
}

hr {
  border-color: #CA8331;
  border: solid 0.5px #CA8331;
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.flex-grid-thirds {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.flex-grid-thirds .col {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  width: 100%;
  margin-top: 4rem;
}

.flex-container {
  display: flex;
  width: 100%;
}

.event-details {
  width: 100%;
}

.event-details.sk2 {
  padding: 4rem;
}

.competitive {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 3.5rem;
  text-align: left;
  font-size: 1.6rem;
  line-height: 3rem;
}

ul.competitive {
    list-style-type: square;
    color: #716c6c;
}

.grubhub {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}

.doordash {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}

.ubereats {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}

.wireframes {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.style {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

a.text-link:link {
  text-decoration: underline;
  float:none;
  font-family: europa, sans-serif;
  font-weight: 500;
  line-height: 3.5rem;
  font-size: 1.6rem;
  color: #393939;
  padding: 0;
  margin: 0;
}
a.text-link:visited {
  text-decoration: none;
}
a.text-link:hover {
  text-decoration: underline;
}
a.text-link:active {
  text-decoration: underline;
}

.text-link {
  display: block;
  text-align: center;
  padding-top: 1rem;
}

.sk2architects {
  display: inline-flex;
  text-align: center;
  padding-bottom: 0;
}

.moodboard {
  text-align: left;
}

.research {
  margin-top: 4rem;
}

section {
  background-color: #E8E8E8;
  color: #000;
}

a {
  font-size: 1.4rem;
  color: #393939;
  align-items:center;
  justify-content:right;
  text-decoration: none;
  float: right;
  padding:1.2rem;
  margin-right: 2rem;
}

a:hover {
  color: #565656;
}

body {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  font-size: 2rem;
  color: #393939;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin-left: 2rem;
  float:left;
  align-items:center;
  justify-content:right;
  text-decoration: none;
}

.header-nav {
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
  padding: 1.5rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: #d4d9d5;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #EEE9E5;
  width: 100%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding-top: 15rem;
}

 .about{
  background-color: #f8f8f8;
}

 .about-h5 {
  text-align: left;
  margin-top: 0;
 }

.container {
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
  margin: 1rem;
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}

.content {
  background-color: #f8f8f8;
}

.button {
  background-color: #565656;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
  text-transform: uppercase;
  border: none;
  color: white;
  padding: 1.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.button-link {
  display:flex;
  margin: 1.5rem auto;
}

.button:hover {
  background-color: #393939;
  color: #ffffff;
}

ul.comparance {
  list-style-type: square;
  color: #716c6c;
}

.paragraph-list.task {
  list-style:none;
}

.fa-check-circle {
  color: #6ebca1;
}

.comparance {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 3.5rem;
  text-align: left;
  font-size: 1.6rem;
  color: #716c6c;
  padding-top: 4rem;
}

.bio {
  padding: 4rem;
}

.survey {
  max-width: 60rem;
  padding: 1rem;
}

.icon {
  width: 6rem;
  display: block;
  margin: auto;
}

.full-width {
  padding-left: 20rem;
  padding-right: 20rem;
  background: url(event-bites-background.png);
  background-attachment: fixed;
  background-color: hsla(0,0%,100%,0.70);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:2rem;
}

.sk2arch {
  padding-left: 20rem;
  padding-right: 20rem;
  background: url(sk2-background.png);
  background-attachment: fixed;
  background-color: hsla(0,0%,100%,0.70);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:2rem;
}

.blocbox {
  padding-left: 20rem;
  padding-right: 20rem;
  background: url(blocbox-background.jpg);
  background-attachment: fixed;
  background-color: hsla(0,0%,100%,0.70);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top:2rem;
}

.github {
  display: inline-flex;
}

.media {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 35%;
  margin-top: 6rem;
}

.bottom-navigation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.bottom-right, .bottom-left, .bottom-center {
  text-align: right;
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  font-family: museo-sans, sans-serif;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.footer-nav {
  width: 100%;
  background-color: #d4d9d5;
  padding: 5rem 1rem;
  margin-top: 5rem;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
}

.footer-nav ul {
  list-style: none;
  text-decoration:none;
  float: none;
  justify-content:center;
  text-align:center;
  width: 100%;
}

.footer-nav ul li {
  display:inline-block;
  font-size: 1.8rem;
}

.footer-nav a {
  padding: 0.5rem;
  padding-top: 2rem;
  margin: 0;
  float: none;
  }

.footer-nav .allrights {
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 300;
  text-align: center;
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.responsive-menu {
	display: none;
}

.responsive-menu.expand {
	display: block !important;
  width: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.mobile-nav {
  float: right;
  list-style-type: none;
  text-align: center;
}


@media screen and (min-width: 360px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .content {
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .mobile-nav {
  display: none!important;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .content {
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .mobile-nav {
  display: none!important;
  }
}


@media screen and (max-width: 767px) {
  .header-nav-links {
  display: none!important;
  }

  a {
    padding:0;
    margin-right: 0;
    margin-top: 0;
    line-height: 4rem;
  }

  a.logo {
    line-height: 3rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .title {
    font-size: 1.8rem;
    line-height: 3.5rem;
  }

  .ebites {
    width: 10%;
  }

  .bottom-right, .bottom-left, .bottom-center {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1rem;
  }

  .bio {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {

  .flex-grid-thirds {
    display: block;
  .col {
    width: 100%;
    flex-grow: 1;
    }
  }

  .grubhub, .doordash, .ubereats {
    width:20%;
  }

  .bio {
    padding-bottom: 0;
    padding-top: 4rem;
  }

  .abt {
    padding-top: 2rem;
  }

  .full-width {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media screen and (max-width: 1300px) {

  .flex-container {
    display: block;
  .event-bites {
    width: 100%;
    flex-grow: 1;
   }
  .comparance {
    width: 100%;
    flex-grow: 1;
   }
  }
}
